<h1><%= @car_category.name %></h1>
<dl>
  <dt><%= CarCategory.human_attribute_name(:daily_rate) %></dt> 
  <dd><%= number_to_currency @car_category.daily_rate %></dd>
  <dt><%= CarCategory.human_attribute_name(:car_insurance) %></dt> 
  <dd><%= number_to_currency @car_category.car_insurance %></dd>
  <dt><%= CarCategory.human_attribute_name(:third_party_insurance) %></dt>
  <dd><%= number_to_currency @car_category.third_party_insurance %></dd>
</dl>

<% @car_category.car_models.each do |car_model| %>
  <h3><%= "#{car_model.name} - #{car_model.year}" %></h3>
  <dl>
    <dt><%= CarModel.human_attribute_name :manufacturer %></dt>
    <dd><%= car_model.manufacturer %></dd>
    <dt><%= CarModel.human_attribute_name :motorization %></dt>
    <dd><%= car_model.motorization %></dd>
    <dt><%= CarModel.human_attribute_name :car_category %></dt>
    <dd><%= car_model.car_category.name %></dd>
    <dt><%= CarModel.human_attribute_name :fuel_type %></dt>
    <dd><%= car_model.fuel_type %></dd>
  </dl>
<% end %>

<%= link_to "Voltar", car_categories_path %>

<%= link_to 'Editar', edit_car_category_path(@car_category) %>

<%= link_to 'Apagar', car_category_path(@car_category), method: :delete,
            data: { confirm: 
            "Deseja realmente apagar a categoria #{@car_category.name}?"} %>

